# Xcode
#
build/
.build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store

# Environment variables
env-vars.sh

/GoogleServicePlists/*.plist

# Bundle
.bundle
vendor

# Specific Configs
Debug.xcconfig


# IDE
/.idea
*.iml
report.xml